---
import { Avatar, Card, Tooltip } from 'astrolace:components';
import type { ReturnCodeStatsUserList } from '../types';
import TopLanguages from './TopLanguages.astro';
import LevelAndProgress from './LevelAndProgress.astro';
import UserRank from './UserRank.astro';

interface Props {
    codeStatsDataCache: ReturnCodeStatsUserList[];
}

const { codeStatsDataCache } = Astro.props;
---
{
    codeStatsDataCache.length === 0 && (
        <Card class="sl-card">
            <div class="card-content">
                <div class="no-user-data">
                    No User Data Found.
                </div>
            </div>
        </Card>
    )
}

{ 
    codeStatsDataCache.length !== 0 && codeStatsDataCache.map((
        { displayName, gravatarURL, totalXP, topMachine, topLanguages, codestatsUsername }, index
    ) => (
        <Card class="sl-card">
            <div class="card-content">

                <Avatar image={ gravatarURL || "" } label={ displayName + "'s Gravatar Image" } />

                <div class="name">
                    { displayName }
                </div>

                <div>
                    <TopLanguages {topLanguages} />
                </div>

                <div class="machine">
                    { topMachine }
                </div>

                <div class="level">
                    <LevelAndProgress {totalXP} />
                </div>

                <div class="rank">
                    <UserRank {index} />
                </div>

                <profilelink>
                    <Tooltip>
                        <i slot="content">View <b>{displayName}</b>'s Code::Stats Profile</i>
                        <a href={`https://codestats.net/users/${codestatsUsername}`} target="_blank" rel="noopener noreferrer">
                            <div class="text-primary i-mdi:person-arrow-right w-32px h-32px">Profile</div>
                        </a>
                    </Tooltip>
                </profilelink>

            </div>
        </Card>
    ))
}
