---
import { ShoelaceHeader } from 'astrolace:components/header';
import ThemeManager from '../components/ThemeManager.astro';
import "../styles/global.css";

interface Props {
	title: string;
	description?: string;
}

const canonical = new URL(Astro.url.pathname, Astro.url.origin).href;

const { title, description = title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonical} />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href={canonical+"favicon.svg"} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonical} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={canonical+"og.png"} />
		<meta property="og:site_name" content={title} />
		<meta property="og:locale" content="en_US" />
		<meta property="og:image:width" content="1920" />
		<meta property="og:image:height" content="1080" />
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content={canonical} />
		<meta property="twitter:title" content={title} />
		<meta property="twitter:description" content={description} />
		<meta property="twitter:image" content={canonical+"og.png"} />
		<ThemeManager />
		<ShoelaceHeader />
	</head>
	<body>
		<slot />
	</body>
</html>